<div class="container">
  <mat-card>
    <div class="card-header card-header-orange">
      <p class="card-header-title">Employees</p>
      <p class="card-header-subtitle">All employees in your project</p>
    </div>
    <div class="card-content">
      <p *ngIf="!projectId; else elseBlock">You are not assigned to any project.</p>
      <ng-template #elseBlock
        ><app-employees-table
          [teams]="teams"
          [showUnassignOption]="true"
          [employees]="employees"
          (unassignEmployees)="onUnassignEmployees($event)"
        ></app-employees-table
      ></ng-template>
    </div>
  </mat-card>
</div>

<div class="container" *ngIf="unassignedEmployees.length && projectId">
  <mat-card>
    <div class="card-header card-header-orange">
      <p class="card-header-title">Unassigned employees</p>
    </div>
    <div class="card-content">
      <app-employees-table
        [teams]="teams"
        [employees]="unassignedEmployees"
        [showUnassignOption]="false"
        (assignEmployees)="onAssignEmployees($event)"
      ></app-employees-table>
    </div>
  </mat-card>
</div>
