<div class="container">
  <mat-card>
    <div class="card-header card-header-green"><h3 class="card-header-title">Create New Ticket</h3></div>
    <div class="card-content">
      <form [formGroup]="ticketForm" (ngSubmit)="onNewTicket()">
        <div>
          <mat-form-field class="header" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Title" name="title" formControlName="title" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="assignment" appearance="outline">
            <mat-label>Select Priority</mat-label>
            <mat-select formControlName="priority">
              <mat-option value="LOW">Low</mat-option>
              <mat-option value="MEDIUM">Medium</mat-option>
              <mat-option value="HIGH">High</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="assignment" appearance="outline">
            <mat-label>Select Ticket Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="BUG">Bug</mat-option>
              <mat-option value="FEATURE REQUEST">Feature Request</mat-option>
              <mat-option value="DESIGN ISSUE">Design Issue</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="assignment" appearance="outline">
            <mat-label>Select Team</mat-label>
            <mat-select (selectionChange)="onLoadEmployees($event)" formControlName="team">
              <mat-option
                ><ngx-mat-select-search
                  [formControl]="teamFilterControl"
                  placeholderLabel="Find team"
                  noEntriesFoundLabel="No matching team found"
                ></ngx-mat-select-search
              ></mat-option>
              <mat-option *ngFor="let team of filteredTeams | async" [value]="team._id">{{ team.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="assignment" appearance="outline">
            <mat-label>Select Employee</mat-label>
            <mat-select formControlName="assignedTo">
              <mat-option
                ><ngx-mat-select-search
                  [formControl]="employeeFilterControl"
                  placeholderLabel="Find employee"
                  noEntriesFoundLabel="No matching employee found"
                ></ngx-mat-select-search
              ></mat-option>
              <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee._id"
                >{{ employee.firstName }} {{ employee.lastName }} <span class="email">{{ employee.email }}</span></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="textarea" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>
          <ngx-dropzone class="dropzone" (change)="onSelect($event)">
            <ngx-dropzone-label>Click or drop your files here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <button mat-raised-button class="green-button">Create New Ticket</button>
      </form>
    </div>
  </mat-card>
</div>
