/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* =========================== */
/* LAYOUR SECTION */
/* =========================== */

.container {
  width: 80%;
  margin: 20px auto;
}

/* =========================== */
/* BUTTONS SECTION */
/* =========================== */
.green-icon-button {
  color: #5cb85c;
}

.red-icon-button {
  color: #d9534f;
}

.green-button {
  background: #5cb85c;
  color: #fff;
}
